[submodule "xgboost"]
	path = xgboost
	url = https://bitbucket.org/WojciechMigda/xgboost.git
[submodule "py/hyperopt"]
	path = py/hyperopt
	url = https://github.com/hyperopt/hyperopt.git
[submodule "cpplinq"]
	path = cpplinq
	url = https://github.com/mrange/cpplinq.git
